.glide {
    max-width: 80rem;
    height:20rem;
    margin: 0 auto;
    padding: 1rem;
}

.glide-header {
    text-align: center;
    text-decoration: underline;
}
.glide-slides {
    display:flex;
    align-items: center;
    height:15rem;
    width:10rem;
}
.glide-slide {
    height:15rem;
    background-color: cornsilk;
    border-radius: .75rem;
    padding:1rem;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.1);
    text-align:center;
    border: .2rem solid red;
    cursor:pointer;
}

.glide-slide h2 {
    font-size: 1rem;
    margin-bottom:1rem;
}

.glide-slide img{
    max-width:80%;
    height: 10rem; 
    object-fit:contain;
    margin-bottom:.7rem;
    border-radius:.3rem;
}

.glide-slide p {
    font-size:1rem;
    color:black
}

.glide__arrows {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -3rem;
  }
  
  .glide__arrow {
    background-color: #333;
    color: #fff;
    border: none;
    padding: .7rem 1.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .glide__arrow:hover {
    background-color: #555;
  }